
# Modules specific
*.mod.c
*.mod.o
*.mod
*.symvers
*.order

.*.*.cmd
.*.cmd
*.cmd

build
build/*
CMakeFiles
bin/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDEs
.vscode/
.idea/
*.sln
*.vcxproj*
*.txt

# OS junk
.DS_Store
Thumbs.db

*.File